@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --color-bg-main: #151515;
}

@layer base {
  body {
    background-color: var(--color-bg-main);
    color: white;
  }
}

/* Add loading animation */
@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes shine {
  from {
    transform: translateX(-100%) skewX(-12deg);
  }
  to {
    transform: translateX(200%) skewX(-12deg);
  }
}

.loading {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

.primary-color-text, span.primary-color-text {
  background-image: linear-gradient(to right, #7a0d8a, #c92085, #c68109);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to right, #7a0d8a, #c92085, #c68109);
}

.glass {
  background: linear-gradient(135deg, rgba(55, 55, 55, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(122, 91, 41, 0.5), transparent 70%);
}